.row-header {
    margin: 0px auto;
    padding: 0px;
  }
  
  .row-content {
    margin: 0px auto;
    
  
    padding: 50px 0px 50px 0px;
  
    border-bottom: 1.5px ridge;
  
    min-height: 50px;
  }
  
  .footer {
    background-color: #d1c4e9;
  
    margin: 0px auto;
  
    padding: 20px 0px 20px 0px;
  }
  
  
  
  .jumbotron {
    padding: 70px 30px 70px 30px;
  
    margin: 0px auto;
  
    background: #9575cd;
  
    color: floralwhite;
  }
  
  address {
    font-size: 80%;
  
    margin: 0px;
  
    color: #0f0f0f;
  }
  .navbar-dark{
    background-color: #552fad;
  }
  body{
    padding :50px 0px 0px 0px;
    z-index: 0;
  }

  /* #factsContent{
    padding: 50px 1000px 50px 0px;

  } */

  #factsContentDetails{
    display: flex;
    /* justify-content: baseline; */
    /* align-items: flex-start; */
    margin-right: 100px;
  }

  #factsFigures{
    margin-right: auto;
    padding-right: 3%;
    padding-left: 4%;
    text-align: center;
    
  }
  #indexLogo{
    padding-left:80px;

    
  }