.row-header {
  margin: 0px auto;
  padding: 0px;
}

.row-content {
  margin: 0px auto;

  padding: 50px 0px 50px 0px;

  border-bottom: 1px ridge;

  min-height: 400px;
}

.footer {
  background-color: #d1c4e9;

  margin: 0px auto;

  padding: 20px 0px 20px 0px;
}

* {
  text-align: center;
}

.jumbotron {
  padding: 40px 30px 10px 38px;

  margin: 0px auto;

  background: #9575cd;

  color: floralwhite;
}

address {
  font-size: 80%;

  margin: 0px;

  color: #0f0f0f;
}

body{
  padding :50px 0px 0px 0px;
  z-index: 0;
}

.navbar-dark{
  background-color: #552fad;
}

#indexLogo{
  /* padding-left:150px; */
  display: flex;
  margin-left: 100px;
}

#thisMonthContent{
  margin-top: 30px;
}
/* .bg-warning{
  bg-
} */
.h3Content{
  padding-left: 100px;
  padding-right:100px;
}

.rowFlex{
  display: flex;
  justify-content: center;
  width: 70%;
  height: 45%;
  margin-bottom: 40px;

}
.table-header{
  width: 100%;

}
.border{
  padding-left: 10px;
}

/* .d-flex{
  display: flex;
  justify-content: center;
} */
/* .flex-row{
  justify-content: center;
} */
.btn-primary{
  /* display: flex; */
  /* justify-content: flex-start; */
  height: fit-content;
  position: relative;
  left:17%;
}

/* Uthappizza */
h3#contentOurLCC2 {
  margin-right: 80px;
}
@media only screen and (max-width: 576px) {
  #contentOurLCC1 {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  #contentOurLCC1 {
    display: none;
  }
}

@media only screen and (min-width: 769px) {
  #contentOurLCC2 {
    display: none;
  }
}

@media only screen and (max-width: 576px){
  #dollaBadge1{
    display:none;
  }
}

@media only screen and (min-width:576px){
  #dollaBadge2{
    display: none;
  }
}

@media only screen and (max-width: 576px){
  #hotBadge1{
    display: none;
  }
}
/* @media only screen and (max-width: 992px){
  #hotBadge1{
    display: none;
  }
} */

@media only screen and (min-width: 576px){
  #hotBadge2{
    display: none;
  }
}

@media only screen and (max-width: 576px){
  #hotBadge1{
    display: none;
  }
}

#hotBadge2, #dollaBadge2{
  margin-right: 110px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-right: 5px;
  padding-left: 5px;
  font-size: large;
  margin-bottom: 5px;
}
#dollaBadge2{
  padding-right: 9px;
  padding-left: 9px;
}

/* #hotBadge2, #dollaBadge2, #uthappizzaContent{
    
} */

/* WEEKEND GRAND BUFFET */

#thisMonthContent1{
  padding-top: 5%;
}
#thisMonthContent2{
  width: 76%;
}


/* p#fadeshow2{
  text-align: center;
  height: 60%;
  width: 100%;  
} */

@media only screen and (max-width: 576px){
  #buffetImage{
    position: relative;
    top: 150px;
  }
}

@media only screen and (min-width: 576px){
  #thisMonthContent2{
    display:none;
  }
}
/* 627px */
/* @media only screen and (max-width: 576px){ 
  #thisMonthContent1{
    position: relative;
    bottom: 80px;
    padding-right: 100px;
  }
}   */

@media only screen and (max-width: 576px){
  #thisMonthContent1{
    display: none;
  }
}





/* reverseTableButton */

@media only screen and (max-width: 576px) {
  #reverseTableButton1 {
    display: block;
  }
}
@media only screen and (max-width: 992px) {
  #reverseTableButton1 {
    display: none;
  }
}
@media only screen and (min-width: 992px) {
  #reverseTableButton2 {
    display: none;
  }
}

#reverseTableButton2{
  padding-left: 40px;
  padding-right: 40px;
}

/* REVERSE TABLE */
@media only screen and (min-width: 767px){
  #reverseFlex{
    display: flex;
    justify-content: center;
  }
}

/* @media only screen and (max-width: 765px){
  #reverseFlex{
    display: none;
  }
} */

/* @media only screen and (min-width: 765px){
  #reverseFlex2{
    display: none;

  }
}

@media only screen and (max-width: 765px){
  #reverseFlex2{
    display: block;

  }
} */



.btn-warning{
  height: 20%;
  margin-top: 46px;
  margin-right: 43px;
}
.dateBox{
  margin-left:67px;
  width: min-content;
}
.timeBox{
  margin-left: 50px;
  width: min-content;
}
.placeholder{
  text-align: left;
}

.tableReverse{
  margin-left:57%;
}


/* Khi màn hình nhỏ về 625px thì thông tin được undisplay */

@media only  screen and (max-width: 625px) {
  #fadeshow1 {
      display: none;
  }
  #fadeshow2 {
      display: none;
  }
  #fadeshow3 {
      display: none;
  }
}

/* */
#buffetMove{
  left: 35%;
  text-align: center;
}

/* #buffetImage{
  position: relative;
  top: 70px;
} */
